#new-game
{
    margin: auto;
    width: auto;
    border:3px solid goldenrod;
    padding: auto;

    background-color:5px solid gold;
    color: white;

}

#instructions
{
    color: black;
}

#dropdown, #new-game
{
    margin: 0 auto;
}

#game-table
{
    color: darkgray;
}