title
{
    justify-content: center;
    color: black;
}

#new-game
{
    padding-left: 10px;
    background-color: gold;
    color: white;
    border: goldenrod;
}

#instructions
{
    color: black;
}

#dropdown, #new-game
{
    margin: 0 auto;
}

#game-table
{
    color: darkgray;
}