h1
{
    margin:auto;
    padding: 10px 450px;
}

#new-game
{
    margin: auto;
    width: 10%;
    border:3px solid goldenrod;
    padding: 15px;

    background-color: gold;
    color: white;

    text-align:center;
}

#current-score, #best-score
{
    border: 5px darkgrey;
    
    background-color: grey;
    color: white;

    text-align: center;
}

#instructions
{
    margin: auto;
    width: 20%;
    border: none;
    padding: 15px;

    background-color: none;
    color: black;

    text-align: center;
}

#dropdown, #new-game
{
    margin: 0 auto;
}

#game-table
{
    background-color: darkgray;
}